{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    {% block style %}
    {% endblock %}

</head>

<body>

<!-- HEADER -->
<div class="header">
    <div class="logoarea">
        <div class="logoimage">
            <img src="{% static 'images/cloud.png' %}" alt="logoimage">
        </div>
        <div class="logotext">CloudSync</div>

    </div>

    
    {% if request.resolver_match.url_name == 'dashboard' or request.resolver_match.url_name == 'shared_files' or request.resolver_match.url_name == 'myfiles' or request.resolver_match.url_name == 'trash' or request.resolver_match.url_name == 'org_files' %}
    <form onsubmit="return false;" class="global-search">
        <div class="search-box">
        <input
            type="text"
            id="globalSearchInput"
            placeholder="Search files, folders..."
            
        >
        </div>
    </form>
    {% endif %}

    <div class="header-right">
        <div class="notification"><img src="{% static 'images/bell.png' %}" alt="" srcset=""><span>0</span></div>
        <div class="user-pill" onclick="window.location.href='{% url 'storageapp:settings_page' %}'" style="cursor:pointer;">
            {{ request.user.first_name|default:request.user.username }}
        </div>
    </div>
</div>

<!-- SIDEBAR -->
<div class="sidebar">
    <a href="{% url 'storageapp:dashboard' %}" class="nav-item {% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}"><img src="{% static 'images/dashboard.png' %}" alt=""> Dashboard</a>
    <a href="{% url 'storageapp:upload_page' %}" class="nav-item {% if request.resolver_match.url_name == 'upload_page' %}active{% endif %}"><img src="{% static 'images/upload.png' %}" alt=""> Upload</a>
    <a href="{% url 'storageapp:myfiles' %}" class="nav-item {% if request.resolver_match.url_name == 'myfiles' %}active{% endif %}"><img src="{% static 'images/myfile.png' %}" alt=""> My Files</a>
    <a href="{% url 'storageapp:shared_files' %}" class="nav-item {% if request.resolver_match.url_name == 'shared_files' %}active{% endif %}"><img src="{% static 'images/share.png' %}" alt=""> Shared</a>
    {% if request.user.org_membership and request.user.org_membership.is_active and request.user.org_membership.organization.is_active %}
    {% if request.user.org_membership.is_admin %}
    <a href="{% url 'storageapp:org_admin_dashboard' %}" class="nav-item {% if request.resolver_match.url_name == 'org_admin_dashboard' %}active{% endif %}"><img src="{% static 'images/dashboard.png' %}" alt="">{{request.user.org_membership.organization.short_name}} Dashboard</a>
    {% endif %}
    <a href="{% url 'storageapp:org_files' %}" class="nav-item {% if request.resolver_match.url_name == 'org_files' %}active{% endif %}"><img src="{% static 'images/enterprise.png' %}" alt=""> {{request.user.org_membership.organization.short_name}} Files</a>
    {% if request.user.org_membership.can_upload %}
    <a href="{% url 'storageapp:org_upload_page' %}" class="nav-item {% if request.resolver_match.url_name == 'org_upload_page' %}active{% endif %}"><img src="{% static 'images/upload.png' %}" alt=""> Upload in {{request.user.org_membership.organization.short_name}}</a>
    {% endif %}
    {% if request.user.org_membership.is_admin %}
    {% comment %} <a href="" class="nav-item {% if request.resolver_match.url_name == 'org_trash' %}active{% endif %}"><img src="{% static 'images/trash.png' %}" alt="">{{request.user.org_membership.organization.short_name}} Trash</a> {% endcomment %}
    {% endif %}
    {% endif %}
    <a href="{% url 'storageapp:trash' %}" class="nav-item {% if request.resolver_match.url_name == 'trash' %}active{% endif %}"><img src="{% static 'images/trash.png' %}" alt=""> Trash</a>
    <a href="{% url 'storageapp:settings_page' %}" class="nav-item {% if request.resolver_match.url_name == 'settings_page' %}active{% endif %}"><img src="{% static 'images/settings.png' %}" alt=""> Settings</a>
    <a href="{% url 'accounts:user_logout' %}" class="nav-item"><img src="{% static 'images/logout.png' %}" alt=""> Logout</a>

    <div class="storage-box">
        <div style="display:flex;justify-content:space-between">
            <strong>Storage</strong>
            {% if storage_limit == 0 %}
                <strong>100%</strong>
            {% elif storage_limit is not None %}
                <strong>{{ storage_percent }}%</strong>
            {% endif %}
        </div>

        
        {% if storage_limit == 0 %}
        <div class="progressbar">
            <div class="progress-fill" style="width: 100%;"></div>
        </div>
        {% elif storage_limit is not None %}
        <div class="progressbar">
            <div class="progress-fill" style="width: {{ storage_percent }}%;"></div>
        </div>
        {% endif %}

        <p>
            {{ storage_used|filesizeformat }}
            of 
            {% if storage_limit is None %}
            Unlimited
            {% else %}
            {{ storage_limit|filesizeformat }}
            used
            {% endif %}
            
        </p>

        {% if current_plan and can_upgrade %}
            <a href="{% url 'subscriptions:upgrade_page' %}" class="upgrade-btn" style="{% if request.resolver_match.url_name == 'upgrade_page' %}visibility: hidden;{% endif %}">
                Upgrade
            </a>
        {% endif %}
    </div>
    
</div>




</div>
</div>

<!-- MAIN CONTENT -->
<div class="main">
    {% block content %}
    {% endblock %}
</div>


    
    {% block script %}
    {% endblock %}
    

</body>
</html>
