{% extends 'storageapp/base.html' %}
{% load static %}
{% load humanize %}

{% block title %}Dashboard - Cloudsync{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% block content %}

<h2 class="dashboard-title">Dashboard</h2>
<p class="dashboard-subtitle">
    Welcome back! Here's what's happening with your storage.
</p>

<!-- ===== STORAGE CARDS ===== -->
<div class="storage-cards">

    <!-- Documents -->
    <div class="card">
        <div class="card-icon purple">
            <img src="{% static 'images/adobe.png' %}">
        </div>
        <h4>Documents</h4>
        <p><span id="doc-count">{{ cards.document.count }}</span> files</p>
        <strong id="doc-size">{{ cards.document.size|filesizeformat }}</strong>
        <a href="{% url 'storageapp:myfiles' %}?type=document">View all →</a>
    </div>

    <!-- Images -->
    <div class="card">
        <div class="card-icon violet">
            <img src="{% static 'images/image.png' %}" alt="Video">
        </div>
        <h4>Images</h4>
        <p><span id="img-count">{{ cards.image.count }}</span> files</p>
        <strong id="img-size">{{ cards.image.size|filesizeformat }}</strong>
        <a href="{% url 'storageapp:myfiles' %}?type=image">View all →</a>
    </div>

    <!-- Videos -->
    <div class="card">
        <div class="card-icon pink">
            
            <img src="{% static 'images/video.png' %}" alt="Video">
        </div>
        <h4>Videos</h4>
        <p><span id="vid-count">{{ cards.video.count }}</span> files</p>
        <strong id="vid-size">{{ cards.video.size|filesizeformat }}</strong>
        <a href="{% url 'storageapp:myfiles' %}?type=video">View all →</a>
    </div>

    <!-- Others -->
    <div class="card">
        <div class="card-icon orange">
            <img src="{% static 'images/file.png' %}" alt="Video">
        </div>
        <h4>Others</h4>
        <p><span id="oth-count">{{ cards.other.count }}</span> files</p>
        <strong id="oth-size">{{ cards.other.size|filesizeformat }}</strong>
        <a href="{% url 'storageapp:myfiles' %}?type=other">View all →</a>
    </div>

</div>

<!-- ===== RECENT FILES ===== -->
<div class="recent-header">
    <h3>Recent Files</h3>
    <a href="{% url 'storageapp:myfiles' %}">View all</a>
</div>

<div class="recent-grid">
    {% for file in recent_files %}
    <div class="recent-card" id="file-{{ file.id }}" data-name="{{ file.file_name|lower }}">

        <div class="recent-icon {{ file.file_type }}">
            {% if file.file_type == "image" %}
                <img src="{% static 'images/image.png' %}" alt="Image">
            {% elif file.file_type == "video" %}
                <img src="{% static 'images/video.png' %}" alt="Video">
            {% elif file.file_type == "document" %}
                <img src="{% static 'images/adobe.png' %}" alt="Document">
            {% else %}
                <img src="{% static 'images/file.png' %}" alt="Other">
            {% endif %}
        </div>

        <div class="recent-info">
            <h5>{{ file.file_name }}</h5>
            <p>
                {{ file.file_type|capfirst }} • {{ file.file_size|filesizeformat }}
            </p>
            <small>{{ file.uploaded_at|naturaltime }}</small>
        </div>

        <div class="recent-actions">
            {% if file.file_type|lower != "other" %}
            <a href="{{ file.file_url }}" target="_blank" class="icon-btn">
                <img src="{% static 'images/hidepassword_icon.png' %}" alt="">
            </a>
            {% endif %}
            
            
            <a href="{% url 'storageapp:download_file' file.id %}"
            class="icon-btn download"
            title="Download">
                <img src="{% static 'images/download.png' %}" alt="">
            </a>

            <a href="javascript:void(0)"
                title="Share"
                class="icon-btn"
                onclick="openShareModal('{{ file.file_url }}')">
                    <img src="{% static 'images/shareicon.png' %}" alt="Share">
            </a>
            

            <button class="icon-btn share"
                title="Give access"
                    onclick="shareFile('{{ file.id }}')">
                <img src="{% static 'images/share.png' %}">
            </button>

            <button 
                class="icon-btn trash"
                title="Move to Trash"
                onclick="moveToTrash('{{ file.id }}')">
                <img src="{% static 'images/trash.png' %}" alt="">
            </button>
        </div>

        

    </div>
    {% endfor %}

</div>

{% if not recent_files %}
<p id="emptyResults" class="empty">
    No files found
</p>
{% endif %}

<p id="noRecentResults" class="empty" style="display:none;">
    No files found
</p>


<div id="shareModal" class="share-modal">
    <div class="share-box">
        <div class="share-header">
            <h3>Share file</h3>
            <button class="close-btn" onclick="closeShareModal()">✕</button>
        </div>

        <p class="share-subtitle">
            Anyone with this link can view the file
        </p>

        <div class="share-icons">
            <a id="share-whatsapp" target="_blank" class="share-item whatsapp">
                <img src="{% static 'images/whatsapp.png' %}">
                <span>WhatsApp</span>
            </a>

            <a id="share-facebook" target="_blank" class="share-item facebook">
                <img src="{% static 'images/facebook.png' %}">
                <span>Facebook</span>
            </a>

            <a id="share-twitter" target="_blank" class="share-item twitter">
                <img src="{% static 'images/twitter.png' %}">
                <span>Twitter</span>
            </a>

            <a id="share-telegram" target="_blank" class="share-item telegram">
                <img src="{% static 'images/telegram.png' %}">
                <span>Telegram</span>
            </a>

            <button onclick="copyLink()" class="share-item copy">
                <img src="{% static 'images/link.png' %}">
                <span>Copy link</span>
            </button>
        </div>
    </div>
</div>

{% endblock %}


{% block script %}
<script>
function formatBytes(bytes) {
    if (bytes === 0) return "0 B";
    const k = 1024;
    const sizes = ["B", "KB", "MB", "GB", "TB"];
    const i = Math.floor(Math.log(bytes) / Math.log(k));
    return parseFloat((bytes / Math.pow(k, i)).toFixed(2)) + " " + sizes[i];
}

function shareFile(fileId) {
    const username = prompt("Enter username to share with:");
    if (!username) return;

    fetch(`/user/file/${fileId}/share/`, {
        method: "POST",
        headers: {
            "X-CSRFToken": "{{ csrf_token }}",
        },
        body: new URLSearchParams({
            username: username
        })
    })
    .then(res => res.json())
    .then(data => {
        if (data.success) {
            alert("✅ File shared successfully");
        } else {
            alert(data.error);
        }
    })
    .catch(err => {
        console.error(err);
        alert("❌ Error occurred");
    });
}



function moveToTrash(fileId) {
    if (!confirm("Move this file to Trash?")) return;

    fetch(`/user/file/${fileId}/trash/`, {
        method: "POST",
        headers: {
            "X-CSRFToken": "{{ csrf_token }}",
            "Content-Type": "application/json"
        }
    })
    .then(res => res.json())
    .then(data => {
        if (!data.success) return alert("Failed");

        // remove card
        document.getElementById(`file-${fileId}`)?.remove();

        // 🔥 update stats live
        document.getElementById("doc-count").innerText = data.stats.document.count;
        document.getElementById("doc-size").innerText = formatBytes(data.stats.document.size);

        document.getElementById("img-count").innerText = data.stats.image.count;
        document.getElementById("img-size").innerText = formatBytes(data.stats.image.size);

        document.getElementById("vid-count").innerText = data.stats.video.count;
        document.getElementById("vid-size").innerText = formatBytes(data.stats.video.size);

        document.getElementById("oth-count").innerText = data.stats.other.count;
        document.getElementById("oth-size").innerText = formatBytes(data.stats.other.size);
    })
    .catch(() => alert("Error occurred"));
}


let currentShareUrl = "";

function openShareModal(url) {
    currentShareUrl = url;

    document.getElementById("share-whatsapp").href =
        `https://wa.me/?text=${encodeURIComponent(url)}`;

    document.getElementById("share-facebook").href =
        `https://www.facebook.com/sharer/sharer.php?u=${encodeURIComponent(url)}`;

    document.getElementById("share-twitter").href =
        `https://twitter.com/intent/tweet?url=${encodeURIComponent(url)}`;

    document.getElementById("share-telegram").href =
        `https://t.me/share/url?url=${encodeURIComponent(url)}`;

    document.getElementById("shareModal").style.display = "flex";
}

function closeShareModal() {
    document.getElementById("shareModal").style.display = "none";
}

function copyLink() {
    navigator.clipboard.writeText(currentShareUrl);
    alert("Link copied to clipboard");
}

document.addEventListener("DOMContentLoaded", function () {

    const searchInput = document.getElementById("globalSearchInput");
    if (!searchInput) return;

    const fileCards = document.querySelectorAll(".recent-card");
    const emptyMsg = document.getElementById("noRecentResults");

    searchInput.addEventListener("input", function () {
        const query = this.value.toLowerCase().trim();
        let visibleCount = 0;

        fileCards.forEach(card => {
            const fileName = card.dataset.name;

            if (!query || fileName.includes(query)) {
                card.style.display = "flex";
                visibleCount++;
            } else {
                card.style.display = "none";
            }
        });

        // ✅ Show "No files found" only when searching & no matches
        if (query && visibleCount === 0) {
            emptyMsg.style.display = "block";
            if(document.getElementById("emptyResults")){
                document.getElementById("emptyResults").style.display="none";
            }
        } else {
            emptyMsg.style.display = "none";
            if(document.getElementById("emptyResults")){
                document.getElementById("emptyResults").style.display="block";
            }
        }
    });

});

</script>
{% endblock %}