{% extends base_template %}
{% load static %}

{% block title %}Settings - Cloudsync{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/settings.css' %}">
{% endblock %}

{% block content %}
<div class="settings-page">

    <h2 class="settings-title">Settings</h2>
    <p class="settings-subtitle">Manage your account and preferences</p>

    {% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    {% endif %}

    <div class="settings-card">
        
        <h3>Change Username</h3>

        <div class="form-grid">
            <div>
                <label>Username</label>
                <input type="text" id="usernameInput" value="{{ request.user.username }}">
                <small id="usernameStatus"></small>
            </div>
        </div>

        <div class="form-actions">
            <button type="button" class="save-btn" id="changeUsernameBtn" disabled onclick="updateUsername()">
                Update Username
            </button>
        </div>


        <h3>Profile Information</h3>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <!-- Avatar row -->
            <div class="avatar-row">
                <div class="avatar" id="avatarPreview">
                    {% comment %} {% if request.user.profile_picture %}
                        <img src="{{ request.user.profile_picture.url }}" id="avatarImg">
                    {% else %} {% endcomment %}
                    {% if profile_image_url %}
                        <img src="{{ profile_image_url }}" id="avatarImg">
                    {% else %}
                        <span id="avatarText">
                            {{ request.user.first_name|slice:":1"|upper }}
                        </span>
                    {% endif %}
                </div>

                <div class="avatar-actions">
                    <label class="upload-btn">
                        Upload photo
                        <input type="file" name="profile_picture" id="profileInput" accept="image/*">
                    </label>

                    {% if request.user.profile_picture %}
                    <button type="submit" name="remove_photo" class="remove-btn">
                        Remove
                    </button>
                    {% endif %}
                </div>
            </div>

            <!-- Form grid -->
            <div class="form-grid">
                <div>
                    <label>First name</label>
                    <input type="text" name="first_name" value="{{ request.user.first_name }}">
                </div>

                <div>
                    <label>Last name</label>
                    <input type="text" name="last_name" value="{{ request.user.last_name }}">
                </div>

                <div>
                    <label>Email address</label>
                    <input type="email" name="email" value="{{ request.user.email }}">
                </div>

                <div>
                    <label>Phone number</label>
                    <input type="text" name="phone" value="{{ request.user.phone|default:"" }}">
                </div>
            </div>

            <!-- Buttons -->
            <div class="form-actions">
                <button type="submit" class="save-btn" id="saveProfileBtn" disabled>Save Changes</button>
                <a href="{% url 'storageapp:settings_page' %}" class="cancel-btn">Cancel</a>
            </div>

        </form>

        

        

        <h3 style="margin-top:20px;">Password</h3>

        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="password_form" value="1">

            <div class="form-grid">

                {% if request.user.has_usable_password %}
                <div>
                    <label>Current password</label>
                    <input type="password" name="current_password" required>
                </div>
                {% endif %}

                <div>
                    <label>New password</label>
                    <input type="password" name="new_password" required>
                </div>

                <div>
                    <label>Confirm password</label>
                    <input type="password" name="confirm_password" required>
                </div>
            </div>

            <div class="form-actions">
                <button type="submit" class="save-btn">
                    {% if request.user.has_usable_password %}
                        Change Password
                    {% else %}
                        Set Password
                    {% endif %}
                </button>
            </div>
        </form>
        
    </div>
</div>
{% endblock %}


{% block script %}
<script>
const input = document.getElementById("profileInput");
const avatar = document.getElementById("avatarPreview");


input?.addEventListener("change", function () {
    const file = this.files[0];
    if (!file) return;

    if (!file.type.startsWith("image/")) {
        alert("Please select a valid image");
        this.value = "";
        return;
    }

    const reader = new FileReader();
    reader.onload = function (e) {
        avatar.innerHTML = `<img src="${e.target.result}" id="avatarImg">`;
    };
    reader.readAsDataURL(file);
});

const usernameInput = document.getElementById("usernameInput");
const statusText = document.getElementById("usernameStatus");
const changeBtn = document.getElementById("changeUsernameBtn");
const originalUsername = "{{ request.user.username }}";

if (usernameInput || statusText || changeBtn){  

    let usernameTimer = null;

    changeBtn.disabled = true; 

    usernameInput?.addEventListener("input", () => {
        clearTimeout(usernameTimer);
        

        const username = usernameInput.value.trim();
        const regex = /^[A-Za-z0-9]+$/;

        changeBtn.disabled = true;

        if (!username) {
            statusText.innerText = "User ID cannot be empty";
            statusText.style.color = "red";
            return;
        }

        if (username === originalUsername) {
            statusText.innerText = "No change in username";
            statusText.style.color = "#6b7280";
            return;
        }

        if (!regex.test(username)) {
            statusText.innerText = "Only letters and numbers allowed (no spaces)";
            statusText.style.color = "red";
            return;
        }
        

        if (username.length < 8) {
            statusText.innerText = "User ID must be at least 8 characters";
            statusText.style.color = "red";
            return;
        }

        if (username.length > 32) {
            statusText.innerText = "User ID must be less than 32 characters";
            statusText.style.color = "red";
            return;
        }

        statusText.innerText = "Checking availability...";
        statusText.style.color = "#6b7280";

        usernameTimer = setTimeout(() => {
            fetch(`/user/check-username/?username=${usernameInput.value}`)
                .then(res => res.json())
                .then(data => {
                    if (data.available) {
                        statusText.innerText = "✓ Username available";
                        statusText.style.color = "green";
                        changeBtn.disabled = false;
                    } else {
                        statusText.innerText = "✗ Username already taken";
                        statusText.style.color = "red";
                        changeBtn.disabled = true;
                    }
                })
                .catch(() => {
                    statusText.innerText = "Error checking username";
                    statusText.style.color = "red";
                    changeBtn.disabled = true;
                });
                
        }, 400);
    });
}

function updateUsername() {
    fetch("{% url 'storageapp:update_username' %}", {
        method: "POST",
        headers: {
            "X-CSRFToken": "{{ csrf_token }}",
            "Content-Type": "application/json"
        },
        body: JSON.stringify({
            username: usernameInput.value
        })
    })
    .then(res => res.json())
    .then(data => {
        alert(data.message);
        if (data.success) location.reload();
    });
}


// ===============================
// Enable Save button on changes
// ===============================
const saveBtn = document.getElementById("saveProfileBtn");

const profileFields = {
    first_name: document.querySelector('input[name="first_name"]'),
    last_name: document.querySelector('input[name="last_name"]'),
    email: document.querySelector('input[name="email"]'),
    phone: document.querySelector('input[name="phone"]'),
};

const profileFileInput = document.getElementById("profileInput");

// Store original values
const originalValues = {
    first_name: profileFields.first_name?.value,
    last_name: profileFields.last_name?.value,
    email: profileFields.email?.value,
    phone: profileFields.phone?.value,
};

function checkProfileChanges() {
    let changed = false;

    // Check text fields
    for (let key in profileFields) {
        if (profileFields[key] && profileFields[key].value !== originalValues[key]) {
            changed = true;
            break;
        }
    }

    // Check profile picture
    if (profileFileInput && profileFileInput.files.length > 0) {
        changed = true;
    }

    // Enable/disable button
    if (saveBtn) {
        saveBtn.disabled = !changed;
    }
}

// Attach listeners
for (let key in profileFields) {
    profileFields[key]?.addEventListener("input", checkProfileChanges);
}

profileFileInput?.addEventListener("change", checkProfileChanges);

</script>

{% endblock %}



